<div class="page-header">
  <h1>Simple Blog</h1>
</div>

<%= render :partial => "post", :collection => @posts %>

<p><%= link_to 'RSS Feed', feed_path %></p>

<form class="well form-search" action="<%= search_path %>" method="GET">
  <div class="input-append">
    <input name="q" type="text" class="input-medium search-query">
    <button type="submit" class="btn">Search</button>
  </div>
</form>
