<div class="page-header">
  <h1>Simple Blog</h1>
</div>

<%= render :partial => "post", :collection => @posts, :locals => { :display => :grid } %>

<%= paginate @posts %>

<%= link_to('RSS FEED', posts_path(:format=>:rss)) %>
